version: '3'
services:
  shibboleth-authentication-application:
    image: fgan/shibboleth-authentication-application
    container_name: shibboleth-authentication-application
    tty: true
    environment:
      - EXTERNAL_CONF_SHIBBOLETH_AUTH_APP_PORT=
      - EXTERNAL_CONF_FOGBOW_GUI_URL
      - EXTERNAL_CONF_SHIBBOLETH_AUTH_PRIVATE_KEY_NAME=
      - EXTERNAL_CONF_AUTHENTICATION_SERVICE_PUBLIC_KEY_NAME=
      - EXTERNAL_CONF_SHIBBOLETH_AUTH_MACHINE_IP=
      - EXTERNAL_CONF_SSH_PRIVATE_KEY=
    ports:
      - 9000:9000
    depends_on:
      - apache-shibboleth
    volumes:
      - "./files-conf-static:/home/ubuntu/files-conf-static"
      - "./scripts:/home/ubuntu/scripts"
      - "./files-conf-dinamic:/home/ubuntu/files-conf-dinamic"     
    command: >
      /bin/bash -c "bash /root/scripts/configure.sh && sleep infinity" 
    networks:
      - default    

  apache-shibboleth:
    image: fgan/apache-shibboleth-fogbow
    container_name: apache-shibboleth
    tty: true
    environment:
      - EXTERNAL_CONF_HOSTNAME_SERVICE_PROVIDER=
      - EXTERNAL_CONF_SHIB_AUTH_APP_IP_PORT=
      - EXTERNAL_CONF_DISCOVERY_SERVICE_URL=
      - EXTERNAL_CONF_DISCOVERY_SERVICE_METADATA_URL=
      - EXTERNAL_CONF_SERVICE_PROVIDER_CERTIFICATE_NAME=
      - EXTERNAL_CONF_SERVICE_PROVIDER_KEY_NAME=
      - EXTERNAL_CONF_SHIB_AUTH_VM_PUBLIC_KEY_NAME=
    ports:
      - "80:80"
      - "443:443"
      - "35022:22"
    volumes:
      - "./files-conf-static:/root/files-conf-static"
      - "./scripts:/root/scripts"
      - "./files-conf-dinamic:/root/files-conf-dinamic"
    command: >
      /bin/bash -c "bash /root/scripts/configure.sh && sleep infinity"
    networks:
      - default

networks:
  default:
    driver: custom-driver-1
